https:
me
Music
Pictures
Public
Videos
.gitignore
.
..
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
Desktop
Documents
Downloads
.esd_auth
.gitignore
.gnupg
.mozilla
.pki
.python_history
.ssh
.ICEauthority
.local
